@use 'abstracts' as helper;

////////// 3. LAYOUTS //////////
.body {
  position: relative;
  overflow: hidden;
  height: 100vh;

  font-family: var(--ff-base);
  font-size: var(--fs-160);
  color: var(--body-text);
  background: var(--body-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  height: calc(100vh - 8rem);

  @include helper.bp(bp-500) {
    height: calc(100vh - 7rem);
  }
}

.header {
  padding: 1.5rem 5rem;
  background: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__name {
    font-size: var(--fs-220);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;

    background: var(--header-name);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: var(--ff-primary);
    font-size: var(--fs-500);
  }

  &__menu {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
  }

  &__menu-button {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    // border: 2px solid currentColor;
    display: none;

    @include helper.bp(bp-500) {
      display: grid;
      place-content: center;
    }
  }

  &__menu-icon {
    height: 4rem;
    width: 4rem;
    fill: var(--header-menu-icon);
    // background-color: var(--toggle);
  }

  &__nav {
    display: flex;
    position: relative;
    align-items: center;

    @include helper.bp(bp-500) {
      position: absolute;
      flex-direction: column;
      background-color: var(--header-menu-bg);
      top: 160%;
      right: -70%;
      padding: 2.5rem;
      border-radius: 0.5rem;
      z-index: 1;
      // justify-items: center;
      box-shadow: var(--button-shadow-hover);
      overflow: hidden;
      border: 1px solid var(--header-menu-icon);

      transition: all 200ms ease;

      &--hidden {
        padding: 0;
        margin: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__nav-link {
    text-decoration: none;
    margin: 2px 3rem 0 0;
    text-transform: uppercase;
    font-size: var(--fs-140);
    color: var(--header-link);
    line-height: 1.1;
    border-bottom: 2px solid transparent;
    transition: all 200ms ease;
    font-weight: bold;

    &:hover {
      color: var(--header-link-hover);
      border-bottom: 2px solid currentColor;
    }

    @include helper.bp(bp-500) {
      font-size: var(--fs-160);
      margin: 0 0 2.5rem 0;
    }
    @include helper.bp(bp-350) {
      // font-size: var(--fs-100);
    }
  }

  @include helper.bp(bp-900) {
    padding: 1.5rem 3rem;
  }
  @include helper.bp(bp-500) {
    padding: 1rem 4rem;
  }
}

.selector {
  padding: 5rem 8rem;
  display: grid;
  grid-template-columns: 1fr max-content;

  overflow: hidden;
  opacity: 1;
  height: 100%;
  visibility: visible;

  transition: all 200ms ease;

  &__change {
    place-self: start;

    @include helper.bp(bp-500) {
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
      place-self: start;
      // justify-self: stretch;
    }
  }

  &__copy {
    justify-self: end;
    align-self: start;

    @include helper.bp(bp-500) {
      grid-row: -2 / span 1;
      place-self: start;
      // justify-self: stretch;
    }
  }

  &__bookmark {
    grid-column: 2 / -1;
    place-self: end;
    display: grid;
    place-content: center;

    @include helper.bp(bp-500) {
      grid-row: -2 / span 1;
      // grid-column: 1 / 2;
      place-self: center;
    }
  }

  @include helper.bp(bp-650) {
    padding: 3rem;
  }
  @include helper.bp(bp-500) {
    padding: 4rem;
    // grid-template-columns: auto;
    grid-template-rows: 1fr repeat(3, max-content);
    gap: 2rem;
  }
  @include helper.bp(bp-350) {
    padding: 2rem;
    // padding: 1.5rem;
  }

  &--hidden {
    padding: 0;
    margin: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.collection {
  background: var(--collection-bg);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow: hidden;
  opacity: 1;
  height: 100%;
  visibility: visible;

  transition: all 200ms ease;

  &__button-close {
    background-color: transparent;
    border: none;
    justify-self: end;
    align-self: end;
    font-size: var(--fs-250);
    font-weight: 900;
    color: var(--collection-text);
    cursor: pointer;
  }

  &__wrapper {
    // margin-right: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;

    @include helper.bp(bp-500) {
      padding: 0 1rem;
    }
  }

  &__cards {
    padding: 2rem;
    gap: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    @include helper.bp(bp-650) {
      gap: 4rem;
    }
    @include helper.bp(bp-500) {
      padding: 1rem;
      gap: 3rem;
    }
  }

  &__card {
    border: none;
    position: relative;
    cursor: pointer;
    outline: 2px solid currentColor;
    height: 15rem;
    max-width: 50rem;
    // min-width: 15rem;
    flex: 1 1 15rem;
    transition: all 200ms ease;
    overflow: hidden;

    &::after {
      position: absolute;
      content: 'click to select';
      inset: 0.7rem;

      display: grid;
      text-align: center;
      place-items: center;

      background-color: var(--collection-text-bg);
      color: var(--collection-text);
      font-weight: bold;
      text-transform: uppercase;
      transform: translateY(50%);
      opacity: 0;
      transform-origin: bottom;
      transition: all 200ms ease;

      @include helper.bp(bp-650) {
        font-size: var(--fs-120);
      }
      @include helper.bp(bp-350) {
        font-size: var(--fs-100);
      }
    }

    &:hover,
    &:focus {
      transform: scale(1.1);

      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &:active {
      transform: scale(1.05);
    }

    @include helper.bp(bp-650) {
      height: 12rem;
      flex: 1 1 12rem;
    }
    @include helper.bp(bp-350) {
      // height: 10rem;
      // flex: 1 1 10rem;
    }
  }

  &__text {
    font-size: var(--fs-220);

    @include helper.bp(bp-900) {
      font-size: var(--fs-180);
    }
    @include helper.bp(bp-500) {
      font-size: var(--fs-160);
    }
  }

  @include helper.bp(bp-350) {
    padding: 1rem;
  }

  &--hidden {
    padding: 0;
    margin: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.about {
  text-align: center;
  background: var(--about-bg);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  opacity: 1;
  height: 100%;
  visibility: visible;

  transition: all 200ms ease;

  &__button-close {
    background-color: transparent;
    border: none;
    justify-self: end;
    align-self: end;
    font-size: var(--fs-250);
    font-weight: 900;
    color: var(--about-text);
    cursor: pointer;
  }

  &__container {
    height: 100%;
    // max-width: 150rem;

    display: grid;
    grid-template-rows: 0.5fr min-content 1.5fr 3rem;
    gap: 1rem;
    overflow: auto;
  }

  &__heading-main {
    font-weight: 400;
    line-height: 1;
    font-size: var(--fs-1200);
    letter-spacing: 3px;
    // text-transform: uppercase;
    background: var(--about-heading-1);
    align-self: end;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    font-family: var(--ff-primary);

    @include helper.bp(bp-650) {
      font-size: var(--fs-900);
    }
    @include helper.bp(bp-500) {
      // font-size: var(--fs-800);
    }
    @include helper.bp(bp-350) {
      font-size: var(--fs-800);
      // font-size: var(--fs-700);
    }
  }

  &__one-liner {
    align-self: start;
    text-align: center;
    font-size: var(--fs-250);
    color: var(--about-heading-2);

    @include helper.bp(bp-650) {
      font-size: var(--fs-220);
    }
    @include helper.bp(bp-500) {
      // font-size: var(--fs-200);
    }
    @include helper.bp(bp-350) {
      font-size: var(--fs-200);
      // font-size: var(--fs-180);
    }
  }

  &__misc {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, auto));
    align-self: center;
    gap: 1.5rem;
    margin: 2rem 0;

    @include helper.bp(bp-650) {
      // gap: 3rem;
      grid-template-columns: auto;
    }
    @include helper.bp(bp-350) {
      // gap: 4rem;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include helper.bp(bp-350) {
      gap: 0.5rem;
    }
  }

  &__heading {
    font-size: var(--fs-300);
    color: var(--about-heading-2);

    @include helper.bp(bp-900) {
      font-size: var(--fs-250);
    }
    @include helper.bp(bp-650) {
      font-size: var(--fs-220);
    }
    @include helper.bp(bp-500) {
      // font-size: var(--fs-200);
    }
    @include helper.bp(bp-350) {
      font-size: var(--fs-200);
      // font-size: var(--fs-180);
    }
  }

  &__text {
    font-size: var(--fs-220);
    color: var(--about-text);

    @include helper.bp(bp-650) {
      font-size: var(--fs-200);
    }
    @include helper.bp(bp-500) {
      // font-size: var(--fs-180);
    }
    @include helper.bp(bp-350) {
      // font-size: var(--fs-160);
      font-size: var(--fs-180);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--about-link);
    border-bottom: 2px solid transparent;
    transition: all 200ms ease;

    &:hover {
      color: var(--about-link-hover);
      border-bottom: 2px solid currentColor;
    }
  }

  &__license {
    font-size: var(--fs-200);

    @include helper.bp(bp-900) {
      font-size: var(--fs-160);
    }
    @include helper.bp(bp-500) {
      // font-size: var(--fs-140);
    }
  }

  &--hidden {
    padding: 0;
    margin: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  inset: 0;
  background: var(--overlay);
  display: grid;
  padding: 3rem;
  place-items: center;

  transition: all 200ms linear;

  &__content {
    background: var(--modal-bg);
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: grid;
    // grid-template-rows: repeat(2, min-content) 1fr;
    gap: 1rem;
    box-shadow: var(--button-shadow-hover);

    @include helper.bp(bp-900) {
      padding: 1rem;
    }
  }

  &__button-close {
    color: var(--modal-text);
    background-color: transparent;
    border: none;
    justify-self: end;
    font-weight: 900;
    font-size: var(--fs-250);
    cursor: pointer;
  }

  &__heading {
    font-weight: 900;
    font-size: var(--fs-250);
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    &--success {
      color: var(--modal-heading);
      padding: 2rem 5rem;

      @include helper.bp(bp-900) {
        padding: 1.5rem 3rem;
      }
      @include helper.bp(bp-350) {
        padding: 1.5rem;
      }
    }

    &--error {
      color: var(--modal-heading);
      padding: 0 2rem 1rem 2rem;

      @include helper.bp(bp-900) {
        padding: 0;
      }
    }

    @include helper.bp(bp-900) {
      font-size: var(--fs-200);
    }
    @include helper.bp(bp-650) {
      font-size: var(--fs-180);
    }
    @include helper.bp(bp-500) {
      // font-size: var(--fs-160);
    }
    @include helper.bp(bp-350) {
      font-size: var(--fs-160);
    }
  }

  &__text {
    color: var(--modal-text);
    padding: 2rem;
    background: var(--code-bg);
    overflow: auto;

    @include helper.bp(bp-650) {
      font-size: var(--fs-140);
      padding: 1rem;
    }
  }

  &--hidden {
    padding: 0;
    margin: 0;
    // height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
